{% extends "base.html" %}
{% load static %}

{% block title %}
  {% if subject %}
    {{ subject.title }} courses
  {% else %}
    All courses
  {% endif %}
{% endblock %}

{% block sidebar %}
<h3>Subjects</h3>
<ul id="modules">
  <li {% if not subject %}class="selected"{% endif %}>
    <a href="{% url 'course_list' %}">All</a>
  </li>
  {% for s in subjects %}
    <li {% if subject == s %}class="selected"{% endif %}>
      <a href="{% url 'course_list_subject' s.slug %}">
        {{ s.title }}<br>
        <span>{{ s.total_courses }} courses</span>
      </a>
    </li>
  {% endfor %}
</ul>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'courses/course/list.css' %}">
  <h1>
    {% if subject %}
      {{ subject.title }} courses
    {% else %}
      All courses
    {% endif %}
  </h1>

  <div class="module-list-grid">
    {% for course in courses %}
      <div class="course-module">
        {% with subject=course.subject %}
          <h3>
            <a href="{% url 'course_detail' course.slug %}">
              {{ course.title }}
            </a>
          </h3>
          <p class="course-meta">
            <a href="{% url 'course_list_subject' subject.slug %}" class="subject-link">
              {{ subject }}
            </a>
            <span class="divider">|</span>
            {{ course.total_modules }} modules
            <span class="divider">|</span>
            Instructor: **{{ course.owner.get_full_name }}**
          </p>
        {% endwith %}
      </div>
    {% endfor %}
  </div>
{% endblock %}